name: Build and Release Package

on:
  push:
    branches: [ main ]
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - name: Make script executable
        run: chmod +x create_package.sh

      - name: Create Package
        run: ./create_package.sh

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: victron-package
          path: "*.tar.gz"
          
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: "*.tar.gz"
